<html>
	<head>
		<title>The Joke Registry</title>
        <style type="text/css">
            tr, td{
                border: 1px solid black;
                padding: 5px;
            }
            thead td{
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }
        </style>
	</head>
	<body>
        <div>
            {% if request.user.is_authenticated %}
            Logged in as {{ user }}. <a href="/logout">Logout</a>
            {% else %}
            <a href="{% url 'social:begin' 'twitter' %}">Login</a>
            {% endif %}
        </div>
		{% block body %}
		{% endblock %}
	</body>
</html>